.tooling-apps-cache/app/firstmule/firstmule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ba635177-0de6-4d45-9da5-9189ebaf5d2c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="firstmuleFlow" doc:id="41d101d5-5a83-4bdb-bfe2-745c1edbdb3b" >
		<http:listener doc:name="Listener" doc:id="7548314d-5817-4f80-a2dc-e54ed56b2a07" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="00682e37-ce60-40ca-9e59-20bedc335eb4" message="#[payload]"/>
	</flow>
</mule>
